/* FONTS */
@font-face {
  font-family: 'Futura PT Book';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('FuturaPT-Book.woff2') format('woff2'),
    url('FuturaPT-Book.woff') format('woff');
}
@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("FuturaPT-Medium.woff2") format("woff2"),
    url("FuturaPT-Medium.woff") format("woff");
}
@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("FuturaPT-Bold.woff2") format("woff2"),
    url("FuturaPT-Bold.woff") format("woff");
}

/* MAIN-STYLES */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  line-height: 1.5;
}

.img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1148px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}